
body {
  background-color: white;
  margin: 0;
}
#container {
  width: 100%;
  display: block;
}
#header {
  position: relative;
  top: 1em;
}
nav {
  position: absolute;
  top: 1em;
  width: 100%;
}
nav ul {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
nav .tabs li {
  text-align: center;
  display: inline-block;
  list-style: none;
  width: 50%;
  outline: 1px solid lightgrey;
  float: left;
}
a {
  color: cornflowerblue;
}
#mobile-details {
  position: relative;
  height: auto;
  top: 2.5em;
  border-bottom: darkgrey;
}
img {
  width: 10%;
  height: 10%;
}
h3 {
  position: relative;
  left: 8em;
  bottom: 7em;
}
li {
  list-style: none;
  font-size: .75em;
}
#profile-info {
  padding: 0;
  margin: 0;
  position: relative;
  left: 9em;
  bottom: 8em;
}
#profile-info .octocat {
  color: darkgrey;
}
#profile-info .organization::before {
  content: '\f037';
}
#profile-info .location::before {
  content: '\f060';
}
#profile-info .email::before {
  content: '\f03b';
}
#profile-info .link::before {
  content: '\f07f';
}
