body {
  background-color: rgb(245, 247, 240);
  margin: 0;
  width: 100%; }

#container {
  width: 100%;
  display: inline-block; }

#header {
  width: 100%;
  background-color: #f0f3f7;
  margin: 0;
  height: 2em; }
  #header span.octicon.octicon-mark-github {
    font-size: 1.5em;
    position: relative;
    left: 49%;
    top: .27em; }
  #header span.octicon.octicon-three-bars {
    position: relative;
    left: 95%; }

.tabs {
  width: 100%;
  margin: 0;
  background-color: #f0f3f7;
  list-style-type: none;
  display: inline-block;
<<<<<<< HEAD
  padding: 0; }
  .tabs li {
    width: 49.8%;
    float: left;
    text-align: center;
    height: 1.75em; }
  .tabs span {
    position: relative;
    top: .45em; }
  .tabs li:last-child {
    border: 2px solid lightgrey; }
  .tabs li:first-child {
    background-color: white;
    border-top: 2px solid orange; }

#octocat-img {
  width: 6em;
  height: 6em;
  float: left; }

.profile-info {
  padding-left: 6em;
  font-size: .75em;
  margin: 0; }
  .profile-info ul {
    margin: 0; }
  .profile-info h4 {
    text-decoration: none; }
  .profile-info h5 {
    text-decoration: none;
    position: relative;
    bottom: 1.5em; }
  .profile-info #profile li {
    position: relative;
    bottom: 2em;
    list-style-type: none; }
    .profile-info #profile li .octicon-mail a {
      color: #4078c0;
      text-decoration: none; }

#follow-area {
  display: block;
  background-color: #f0f3f7;
  border: 1px solid lightgrey; }
  #follow-area .follow {
    position: relative;
    top: 1em;
    width: 100%;
    height: 2em;
    background-color: #2dde0d;
    background-image: linear-gradient(to top, #1EB004, #47F527);
    color: white; }
  #follow-area #stats {
    display: inline-block;
    width: 100%;
    padding: none;
    font-weight: bold;
    font-size: 1.4em; }
  #follow-area .stats-numbers {
    width: 100%; }
  #follow-area li {
    list-style-type: none;
    width: 33%;
    float: left;
    text-align: center;
    height: 2.5em; }
  #follow-area .stats {
    text-align: center;
    width: 33%; }

#stats-category {
  display: inline-block;
  width: 100%;
  padding: none;
  position: relative;
  bottom: 3.2em; }
=======
  list-style: none;
  width: 50%;
  outline: 1.5px solid lightgrey;
  float: left;
  height: 2em;
}
.tab-current {
  background-color: white;
}
a {
  color: cornflowerblue;
}
#mobile-details {
  position: relative;
  height: auto;
  top: 2.5em;
  border-bottom: darkgrey;
  background-color: white;
}
img {
  width: 10%;
  height: 10%;
}
h3 {
  position: relative;
  left: 8em;
  bottom: 7em;
}
li {
  list-style: none;
  font-size: .75em;
}
.organization {
  cursor: pointer;
}
.location {
  cursor: pointer;
}
#profile-info {
  padding: 0;
  margin: 0;
  position: relative;
  left: 9em;
  bottom: 8em;
}
#profile-info .octocat {
  color: darkgrey;
}
#followers-section {
  display: block;
  position: relative;
  bottom: 5em;
  height: auto;
  width: 100%;
  outline: 1px solid lightgrey;
  background-color: rgb(245, 247, 240);
}
.follow-button {
  position: relative;
  width: 100%;
  background-color: lightgreen;
  color: white;
  outline: .25px solid black;
}
#count {
  display: inline-block;
  width: 100%;
  margin: 0;
}
#count div {
  position: relative;
  text-align: center;
  width: 30%;
  float: left;
  left: 3.6em;
}
#categories {
  display: inline-block;
  width: 100%;
  margin: 0;
}
#categories div {
  position: relative;
  text-align: center;
  width: 30%;
  float: left;
  left: 5em;
  color: darkgrey;
  font-style: normal;
  font-size: .75em;
}
.popular-repos {
  position: relative;
  bottom: 4em;
  background-color: white;
}
#popular-repos-header {
  position: relative;
  left: 2.6em;
  margin: 0;
}
#popular-repos-list li {
  border: 1px solid lightgrey;
  height: 2.5em;
  padding-left: 1em;
  padding-top: 1em;
}
.repo-stars {}
@media screen and (min-width:1200px) and (max-width:1600px) {}

/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers:
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
>>>>>>> develop
