body {
  background-color: white;
  margin: 0;
  width: 100%; }

#container {
  width: 100%;
  display: inline-block; }

#header {
  width: 100%;
  background-color: #f0f3f7;
  margin: 0;
  height: 2em; }
  #header span.octicon.octicon-mark-github {
    font-size: 1.5em;
    position: relative;
    left: 49%;
    top: .27em; }
  #header span.octicon.octicon-three-bars {
    position: relative;
    left: 95%; }

.tabs {
  width: 100%;
  margin: 0;
  background-color: #f0f3f7;
  list-style-type: none;
  display: inline-block;
  padding: 0; }
  .tabs li {
    width: 50%;
    float: left;
    text-align: center;
    outline: 1px solid lightgrey;
    height: 1.75em; }
  .tabs span {
    position: relative;
    top: .45em; }

#octocat-img {
  width: 6em;
  height: 6em;
  float: left; }

.profile-info {
  padding-left: 4.5em; }
  .profile-info h4 {
    text-decoration: none; }
  .profile-info h5 {
    text-decoration: none;
    position: relative;
    bottom: 1.5em; }
  .profile-info #profile {
    list-style-type: none; }
