body {
  background-color: white;
  margin: 0;
  width: 100%; }

#container {
  width: 100%;
  display: inline-block; }

#header {
  width: 100%;
  background-color: #f0f3f7;
  margin: 0;
  height: 2em; }
  #header span.octicon.octicon-mark-github {
    font-size: 1.5em;
    position: relative;
    left: 23.5em;
    top: .27em; }
