.grid{

  @extend .clearfix;

  $grid-width:100%;
  max-width: 100%;

  width: $grid-width;
  margin: 0 auto;

  background-color: lightgrey;
  outline: 2px solid red;

  .unit{
    background-color: grey;
    outline:2px solid blue;

    width: ($grid-width/5);
    float: left;

  }
  .unit-span-2{
    @extend .unit;
    width: ($grid-width/5)*2;
    background-color: darkgrey;
    outline: 2px solid black;
    float: left;
}

  .unit-span-3{
    @extend .unit ;
    width: ($grid-width/5)*3;
    background-color: darkgrey;
    outline: 2px solid blue;

  }




} //End of the grid


/* .grid{
  $grid-width: 100%;
  max-width: 80%;


  @extend .clearfix;
  width: $grid-width;
  margin: 0 auto;


  background-color: lightgrey;
  outline: 2px solid red;



  .unit{
    background-color: grey;
    outline: 2px solid blue;

    float: left;
    width: ($grid-width/8);


  }


 */
